.containerdrop {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fef7ee !important;
}

.RouteFinder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 20px;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: 3%;
}

.RouteFinderTitle {
  /* background-color: #4197b5; */
  width: 80%;
  display: flex;
  justify-content: center;
  /* border-radius: 10px; */
  margin: 20px;
  /* border: 1px solid gray; */
}

.navbar {
  background-color: #4197b5;
}

h2 {
  font-size: 2em;
  color: #4e4d4d !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.dropdown-toggle {
  border-radius: 4px;
  width: 100%;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
}

.dropdownlist {
  width: 100%;
  background-color: #fff;

}
.dropdowndiv {
  padding: 10px;
}

.dropdownbutton {
  border: 1px solid rgba(128, 128, 128, 0.448);
  border-radius: 7px;
}

.dropdown-menu.show {
  display: block;
  background-color: rgb(242, 242, 242);
}

.dropdown-item {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 1.3rem;
}


.form-control {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 1.3rem !important;
}


.modal-header {
  padding: 2px 16px;
  background-color: #4197b5;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #1f5fff;
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.homediv {
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  overflow-x: hidden;
  top: 0px;
  position: absolute;
}

.circle-image {
  border-radius: 20px;
}

.banner-holder {
  width: 100%;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.banner-overlay {
  position: relative;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  background-color: rgba(181, 181, 181, 0.612);
  border-radius: 10px;
}

.banner-text h1 {
  margin: 0;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  margin: 10px;
  font-size: 3.0rem;
}

.banner-text p {
  margin-top: 0.5rem;
  font-size: 2.0rem;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  margin: 1.0rem;
}

.navbar {
  background-color: #fef7ee !important;
  border-bottom: 2px solid #eaeaea;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img.circle-image {
  border-radius: 20%;
  width: 150px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.navbar-brand img.circle-image:hover {
  transform: scale(1.1);
}

.nav-link {
  color: #343a40;
  font-weight: 500;
  padding: 2.0rem 2rem !important;
  text-transform: capitalize;
  transition: color 0.2s ease-in-out;
  font-size: 1.5rem !important;
}

.nav-link:hover {
  color: #4197b5;
  text-decoration: underline;
}

.nav-link.active {
  color: #4197b5;
  font-weight: bold;
  border-bottom: 2px solid #4197b5;
}

.dropdown-item {
  color: #495057;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #4197b5;
}

.navbar-toggler {
  border-color: #6c757d;
  background-color: #e9ecef;
}

.navbar-toggler-icon {
  background-image: linear-gradient(
    to bottom,
    #343a40 33%,
    rgba(52, 58, 64, 0) 33%
  );
}

.navbar-collapse {
  transition: height 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.custom-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-dropdown-button .dropdown-toggle::after {
  margin-left: auto;
}

.custom-dropdown-button .dropdown-toggle {
  display: flex;
  flex: 1;
  align-items: center;
}

.modal-title-container {
  /* background-color: gray;
  border-radius: 8px; */
}

.modal-title {
  margin: 5px !important;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-link {
  color: #4197b5;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}